@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
}

@mixin circle($size, $color) {
 @include border-radius(50%);
  background-color: $color;
  height: $size;
  width: $size;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time ease-out;
  -moz-transition: $property $time ease-out;
  -o-transition: $property $time ease-out;
  transition: $property $time ease-out;
}

@mixin icon($color, $font-size, $icon) {
  color: $color;
  font-size: $font-size;
  &:before {
    font-family: $font-icon;
    content: $icon;
  }
}

@mixin color-list($position) {
  background-color: nth($colors, $position);
}

@mixin vertical-center() {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin intrinsic-ratio($size) {
  width: $size;
  height: 0;
  padding-bottom: $size;
}

@mixin boxshadow() {
  box-shadow: 0 1px 2px 0 rgba($black, 0.3);
  -webkit-box-shadow:  0 1px 2px 0 rgba($black, 0.25);
  -moz-box-shadow:  0 1px 2px 0 rgba($black, 0.25);
}

@mixin rainbow-buttons() {
  button.button--ALTERNATE, button.button--MAIN, button.button--ALTERNATE-SELECTED {
    @include transition(background-color, 0.5s);
    &:nth-of-type(1n) {
      background-color: $primary-color;
    }
    &:nth-of-type(2n) {
      background-color: $tertiary-color;
    }
    &:nth-of-type(3n) {
      background-color: $secondary-color;
    }
    &:nth-of-type(4n) {
      background-color: $quaternary-color;
    }
  }
  button.button--ALTERNATE, button.button--MAIN {
    &:nth-of-type(1n) {
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
    &:nth-of-type(2n) {
      &:hover {
        background-color: lighten($tertiary-color, 10%);
      }
    }
    &:nth-of-type(3n) {
      &:hover {
        background-color: lighten($secondary-color, 10%);
      }
    }
    &:nth-of-type(4n) {
      &:hover {
        background-color: lighten($quaternary-color, 10%);
      }
    }
  }
}