@font-face {
  font-family: 'Ubuntu-light';
  src: url('../../fonts/Ubuntu-Light.ttf');
};

@font-face {
  font-family: 'Ubuntu-regular';
  src: url('../../fonts/Ubuntu-Regular.ttf');
};

@font-face {
  font-family: 'Ubuntu-bold';
  src: url('../../fonts/Ubuntu-Bold.ttf');
};

@font-face {
  font-family: 'icon-font';
  src: url('../../fonts/icons.ttf');
};

$font-light: 'Ubuntu-light', Helvetica, Arial, sans-serif;
$font-regular: 'Ubuntu-regular', Helvetica, Arial, sans-serif;
$font-bold: 'Ubuntu-bold', Helvetica, Arial, sans-serif;
$font-icon: 'icon-font';

@mixin h1 {
  font-family: $font-bold;
  font-size: 2.4rem;
  letter-spacing: 0.75px;
  color: $dark-grey;
}

@mixin h2 {
  font-family: $font-regular;
  font-size: 2.13rem;
  letter-spacing: 0.75px;
  line-height: 3.25rem;
  color: $dark-grey;
}

@mixin h3 {
  font-family: $font-regular;
  font-size: 1.87rem;
  letter-spacing: 0.75px;
  line-height: 2.7rem;
  color: $dark-grey;
}

@mixin p {
  font-family: $font-light;
  font-size: 1.6rem;
  letter-spacing: 0.25px;
  line-height: 2.4rem;
  color: $dark-grey;
}

@mixin small {
  font-family: $font-regular;
  font-size: 1.2rem;
  letter-spacing: 0.25px;
  line-height: 1.8rem;
  color: $dark-grey;
}


