//breakpoints

$xlarge-breakpoint: 1400px;
$large-breakpoint: 1000px;
$medium-breakpoint: 750px;
$small-breakpoint: 10px;

//nav variables

$nav-mobile-width: 8rem;

//colors

$black: #000;
$white: #FFF;
$dark-grey: #3a3a3a;
$light-grey: #efefef;

$primary-color: #0C2370;
$secondary-color: #ED9487;
$tertiary-color: #114884;
$quaternary-color: #FFB59F;
$colors: $primary-color, $tertiary-color, $secondary-color, $quaternary-color;

//layout

$page-margin: 1.5rem;
