//breakpoints

$xlarge--breakpoint: 1400px;
$large--breakpoint: 1000px;
$medium-breakpoint: 750px;
$small-breakpoint: 10px;


//colors

$black: #000;
$white: #FFF;
$dark-grey: #3a3a3a;
$medium-grey: #545454;
$light-grey: #ededed;

$primary-color: #394d87;
$secondary-color: #f0b49e;
$tertiary-color: #8499be;


//icons

$blog: "\e900";
$menu: "\e608";
$work: "\e903";
$resume: "\e902";
$home: "\e901";
$expand: "\e607";
$close: "\e606";
$arrow: "\e600";
$github: "\e601";
$linkedin: "\e602";
$logo: "\e603";
$mail: "\e904";
$twitter: "\e605";
$skills: "\e905";
$education: "\e906";
$download: "\e907";