.about--text {
  @include p;
  color: $dark-grey;
  text-align: left;
}

.about--text-wrapper {
  width: 70%;
  float: right;
  padding-left: 5%;
}

.about--profile-image {
  width: 30%;
  float: left;
}

.about--MAIN {
  overflow: hidden;
  margin: 0 20% 12rem;
}

@media (max-width: $large-breakpoint) {
  .about--MAIN {
    margin: 0 1.5rem 12rem;
  }
}
@media (max-width: $medium-breakpoint) {
  .about--profile-image {
    display: none;
  }

  .about--text-wrapper {
    width: 100%;
    padding: 0;
  }

  .about--MAIN {
    margin: 0 $page-margin 8rem;
    padding-left: 0;
  }
}
