%button--default {
  border: none;
  cursor: pointer;
  color: $white !important;
  text-transform: uppercase;
  &:focus {
    outline: 0;
  }
}

.button--MAIN {
  @include h2;
  @extend %button--default;
  @include transition(background-color, 0.5s);
  width: 100%;
  background-color: $secondary-color;
  padding: 1.5rem 1rem 1.25rem;
  &:hover {
    background-color: lighten($secondary-color, 10%);
  }
}

.button--ALTERNATE, .button--ALTERNATE-SELECTED {
  @extend %button--default;
  @include small;
  border-radius: 4px;
  padding: 0.5rem 1rem 0.4rem;
  min-width: 8rem;
}

