.contact-form--MAIN {
  width: 80%;
  text-align: left;
  margin-top: 5rem;
  .input-field--MAIN, .input-field--ACTIVE{
    margin-bottom: 2rem;
  }

  .text-area--MAIN, .text-area--ACTIVE {
    margin-bottom: 2rem;
    .text-area--input-field {
      height: 20rem;
    }
  }
}

.contact-form--header {
  @include h2;
}


.contact--list-item {
  margin: 1rem 0;
}

.contact--list-link {
  @include link-style($dark-grey, $secondary-color);
}

.contact--list {
  @include p;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

@media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
  .contact-form--MAIN {
    width: 100%;
  }
}