%input-field--default {
  @include p;
  border: none;
  width: 100%;
  height: 4rem;
  padding: 0 0 0.5rem 1rem;
  &:focus {
    outline: none;
  }
}


.input-field--MAIN, .text-area--MAIN {
  border: 1px solid $light-grey;
}

.input-field--label, .text-area--label {
  @include p;
  color: darken($light-grey, 15%);
  padding: 0;
  margin: 0.75rem 1rem 0;
}

.input-field--input-field {
  @extend %input-field--default;
}

.text-area--input-field {
  @extend %input-field--default;
  resize: none;
}