.nav--MAIN {
  position: absolute;
  padding: 1rem 0;
  bottom: 0;
  z-index: 5;
}

.nav--nav-list {
  list-style: none;
  position: relative;
  text-align: center;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav--nav-link {
  position: relative;
  max-width: 30rem;
  a {
    @include h2;
    text-decoration: none;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
}

.nav--MOBILE {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 20;
}

@media (min-width: $small-breakpoint) {
  .nav--MAIN {
    position: fixed;
    height: 100vh;
    width: $nav-mobile-width;
    background-color: $light-grey;
    border-top: none;
    border-bottom: none;
  }
  .nav--MOBILE {
    display: block;
  }
  .nav--nav-link {
    display: block;
    text-align: left;
    padding: 0 1rem;
    width: auto;
    a {
      font-size: 1.75rem;
      color: transparent;
    }
  }
}

@media (min-width: $medium-breakpoint) {
  .nav--MAIN {
    width: 100%;
    height: auto;
    left: 0;
    background-color: $white;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
  .nav--MOBILE {
    display: none;
  }
  .nav--nav-link {
    display: inline-block;
    text-align: center;
    border-bottom: none;
    width: 24.5%;
    line-height: 0.6rem;
    padding-left: 0;
    &:hover {
      background-color: transparent;
    }
    a {
      color: $primary-color;
      font-size: 2rem;
    }
  }
}