.nav--MAIN {
  position: absolute;
  padding: 1rem 0;
  bottom: 0;
  z-index: 5;
}

.nav--nav-list {
  list-style: none;
  position: relative;
  text-align: center;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  &:hover > .nav--nav-link a {
     opacity: 0.5;
  }
  &:hover > .nav--nav-link a:hover {
    opacity: 1;
  }
}

.nav--nav-link {
  position: relative;
  max-width: 30rem;
  a {
    @include transition(opacity, 0.5s);
    @include h2;
    text-decoration: none;
  }
}

@media (min-width: $medium-breakpoint) {
  .nav--MAIN {
    width: 100%;
    height: auto;
    left: 0;
    background-color: $white;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
  .nav--mobile-icon {
    display: none;
  }
  .nav--nav-link {
    display: inline-block;
    text-align: center;
    border-bottom: none;
    width: 24.5%;
    line-height: 0.6rem;
    padding-left: 0;
    &:hover {
      background-color: transparent;
    }
    a {
      color: $primary-color;
      font-size: 2rem;
    }
    &:nth-child(1) {
      background-color: transparent;
    }
    &:nth-child(2) {
      background-color: transparent;
    }
    &:nth-child(3) {
      background-color: transparent;
    }
    &:nth-child(4) {
      background-color: transparent;
    }
  }
}


@media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
  .nav--MAIN {
    @include transition(left, 100ms);
    position: fixed;
    height: 100vh;
    width: $nav-mobile-width;
    background-color: $light-grey;
    border-top: none;
    border-bottom: none;
    padding: 0;
    &.open {
      left: 0;
    }
    &.closed {
      left: -$nav-mobile-width;
    }
  }
  .nav--mobile-icon {
    @include transition(margin-left, 100ms);
    @include icon (rgba($dark-grey, 0.5), 3rem, '\e608');
    display: block;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    padding: 1.5rem 1.5rem 0;
    &.open {
      margin-left: $nav-mobile-width;
    }
    &.closed {
      margin-left: 0;
    }
  }
  .nav--nav-link {
    display: block;
    text-align: left;
    padding: 1rem 1rem 0.5rem;
    width: auto;
    position: relative;
    height: 5rem;
    &:before {
      position: absolute;
      width: 2.9rem;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    a {
      font-size: 1.75rem;
      color: transparent;
      position: absolute; //increasing touch area
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    &:nth-child(1) {
      @include color-list(1);
      @include icon($white, 3rem, '\e904');
    }
    &:nth-child(2) {
      @include color-list(2);
      @include icon($white, 3rem, '\e903');
    }
    &:nth-child(3) {
      @include color-list(3);
      @include icon($white, 3rem, '\e905');
    }
    &:nth-child(4) {
      @include color-list(4);
      @include icon($white, 3rem, '\e901');
    }
  }
}